#numpy-1.11.3+mkl
decorator==4.0.10
isodate==0.5.4
networkx==1.11
pandas==0.18.1
pymongo==3.3.0
python-dateutil==2.5.3
pytz==2016.6.1
rdflib==4.2.1
rdflib-jsonld==0.4.0
requests==2.11.1
six==1.10.0
tqdm==4.8.4
wget==3.2
typing==3.5.2.2
pyparsing==2.1.8
pytest==3.0.4
numpy-mkl
scipy
gensim